<!--
<div class="container" style="position: fixed; z-index: 9; background-color: white">
<div class="row" >
  <div class="col-xs-2 col-xs-offset-2">
    <div class="row">
      <h2> Nome pessoa </h2>
      <h3> Objetos da pessoa </h3>
      <h3> Cidade </h3>
    </div>
  </div>
  <div class="col-xs-6">
  <iframe width="100%" height="180" scrolling="no" frameborder="no" src="<%= @src_audio %>&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
  <div class="col-xs-2">
    <%= image_tag('monos_minilogo.png', width:'100%') %>
  </div>
</div>
</div>
-->

<!-- http://api.rubyonrails.org/classes/ActionView/Helpers/CaptureHelper.html -->
<% content_for :acbeu do %>

  <style>
  .text-vertical-center{ 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style-type: none;
  }
  .header {
    display: table;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #eed724;
/*    background: url(https://gabinete-lembrancas.s3.amazonaws.com/uploads/photo/picture/188/andarai02.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.btn-red {
  color: #000;
  background-color: #e65454;
  border-color: #ccc;
}
.btn-red :hover,
.btn-red :focus,
.btn-red :active,
.btn-red .active,
.open > .dropdown-toggle.btn-red {
  color: #333;
  background-color: #fff;
  border-color: #adadad;
}

  </style>


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Bem-vindo à Exposição!</h1>
            <h3>Aqui você pode <strong> ouvir todos </strong> os documentos de áudio relativos ao nosso projeto </h3>
            <br>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <a class="btn btn-lg btn-red" href="#navbar" role="button">Depoimentos</a>
            </div>
            <div class="col-xs-4 ">
              <a class="btn btn-lg btn-red" href="#navbar" role="button">Sons</a>
            </div>
          </div>
          
        </div>
    </header>

 
<div class="container" style="padding-top: 180px">
<% @gabinete_objects.each_with_index do |gabinete_object, index| %>  
  <div class="col-xs-6 col-md-3 col-lg-2" class="audio-btn" id="obj-<%= index %>" >
    <%= image_tag('monos_minilogo.png', width:'100%') %>
  </div>
<% end %>
</div>

<% end %>

<script>
 </script>  
