<!-- PRIMERA VENTANA INTRO - VIDEO/LOGO -->
<div class="header-unit-0">
  <div id="video-container">
    <video autoplay loop muted class="fillWidth">
      <source src="https://s3-sa-east-1.amazonaws.com/gabinete-lembrancas/videos/morro_web1.mp4" type="video/mp4"/>
      <source src="https://s3-sa-east-1.amazonaws.com/gabinete-lembrancas/videos/morro_web1.ogv" type="video/ogg"/>
      <source src="https://s3-sa-east-1.amazonaws.com/gabinete-lembrancas/videos/morro_web1.webm" type="video/webm"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video> 
  </div> <!--  end video-container -->
  <!-- LOGO sobre el video -->
  <div class="row">
    <div class="logo-over-video col-md-4 col-md-offset-8">
      <%= image_tag("gabinete_letra_web.png", alt: "Gabinete imagem") %>
    </div>
  </div>
  <div class="row">
    <div class="center col-md-4 col-md-offset-4">
    </div>
  </div>
</div> <!-- end .header-unit -->

<br>

<!-- ACERCA DO PROJETO  -->
<section id="projeto" >
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <h1 class='titulo'> Gabinete das Lembranças </h1>

        <br>

      <p>O Gabinete das Lembranças é uma exposição de objetos significativos e suas memórias. O projeto nasce em 2013 e teve sua primeira edição em Rio de Contas, no marco do Festival Rua dos Inventos. Entre abril e junho de 2015, com financiamento da Secretaria de Cultura do Estado da Bahia, SECULT-BA, edital Territórios Culturais, serão feitas mais três exposições em Morro do Chapéu, Andaraí e Palmeiras.</p>
      <p>Cada exposição é fruto de uma residência de 10 dias em cada cidade envolvida. Nesse tempo a equipe coleta objetos e histórias entre os moradores que querem participar e serem parte da exposição. No final da residência, os objetos são devolvidos a seus donos. Uma vez finalizadas todas as exposições se fará um DVD documentário do projeto completo.</p>
      <p>Nosso projeto expositivo busca resgatar as histórias pessoais como fonte de identidade individual e comunitária. Por meio da escolha e compartilhamento de um objeto significativo e sua história, o projeto valoriza a história invisível, pessoal, memória historicamente silenciada que não aparece nos livros didáticos e desvalorizada pela mídia. Os objetos são objetos de memória, trazem consigo traços além de sua materialidade, ele poderá conter acontecimentos, lembranças intimas, mas que muitas vezes estão relacionadas às memórias coletivas da comunidade em questão. Desde a memória individual se mobiliza a memória coletiva, criando-se um relato comum, de histórias que se repetem em diferentes famílias, numa mesma cidade.  </p>
      <p>A experiência se produz desde duas perspectivas: desde quem lembra e desde quem assiste as lembranças do outro. Quem lembra é invitado a olhar seu passado, a fazer um ato consciente de memória e escolher o que deseja compartilhar e reviver no presente. Quem assiste descobre um valor no objeto que vá para além da materialidade e que tem sido dado pela experiência de outra pessoa e faz associações das histórias com sua própria vida. Questiona-se também o conceito de exposição, já que não centra seu olhar no objeto a ser exposto, se não no conteúdo que possui, exaltando seu valor simbólico, sua imaterialidade no lugar de seu valor tangível, material. </p>
      <p>A proposta permite que o objeto seja exposto através do olhar dos seus detentores que agregam valor e compartilham esse valor em seu grupo social, dessa forma o objeto será valorizado através da visão de mundo dessa comunidade, gerando assim, outro tipo de espaço de comunicação possível, valorizado pela vivência e a empatia da experiência.</p>
      <p>Gabinete das Lembranças trata-se de uma ação aberta à comunidade, que convida a ela a ser protagonista. É uma forma de resistência que convida a compartilhar a intimidade, a gerar um encontro desde o mais vulnerável, que é a própria história, um encontro com o outro desde a empatia e a constatação de experiências comuns em vidas alheias, abrindo uma pausa para refletir, a partir de outras histórias, sobre nossas próprias. </p>
      <p>Como coletivo, acreditamos que não existem histórias mais ou menos significativas e pelo tratamento da exposição, todas as histórias faz parte do imaginário dela. A montagem busca traduzir o conceito de memória e a ação de lembrar como um processo intangível, que vai se construindo aos poucos na materialidade e soluções implementadas na exposição. É por isso que a informação é entregue de forma fragmentada: som, vídeo e texto de forma separada, deixando aos objetos ser envolvidos pelas histórias que trazem. Essa forma expositiva apela diretamente aos sentidos, deixando que a exposição seja percebida e não só compreendida intelectualmente. O público tem que fazer uma escolha da forma de se aproximar ao conteúdo da exposição, o que convida a fazer da experiência uma experiência ativa, pessoal e sensível.</p>
      <p>Gabinete das lembranças está baseado na confiança, o cuidado, a dedicação e o trabalho conjunto. Esperamos que disfrutem das histórias que lhes apresentamos e aproveitamos esse espaço para reiterar nossa gratidão a todos quem tem participado generosamente conosco. Sem sua confiança, essa exposição não poderia existir.</p>

      </div>
    </div>
  </div>
</section>
<br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("CARTAZCHAPADA FPEQUENO.jpg", alt: "Gabinete imagem") %>
    </div>
  </div>

<section id="infinitos-monos" >
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <h1 class='titulo'> Coletivo Infinitos Monos </h1>
        <br>
        <p>O coletivo Infinitos Monos nasceu em novembro de 2013, fundado pelos chilenos Javier Cruz, designer industrial, museógrafo e programador, Melissa Mardones, atriz e produtora e o artista brasileiro Pedro Dell’ Orto, cineasta. O objetivo do coletivo é gerar um espaço de criação multidisciplinar, onde cada um possa contribuir desde sua área específica. Hoje, também está integrado pela musicista e baterista Julia Dell’Orto e Janaína Miranda, graduanda do curso de Bachalerado em Museologia na Universidade Federal do Recôncavo da Bahia. </p>

        <p>Buscamos gerar encontros com profissionais de diversas áreas que desejem explorar formas de interação com o “público”, possibilitando que ele seja parte da criação. As nossas ações buscam dissolver a fronteira da obra com o espectador, convidando-os a sair do espaço contemplativo e transformar-se, não apenas em espectador ativo, mas em gerador da obra.</p>

        <p>Em dezembro de 2013, Infinitos Monos participou do Festival Rua dos Inventos que aconteceu na cidade de Rio de Contas entre o dia 27 e 28 de dezembro de 2013. A proposta desenvolvida foi O que não se vê quando se vê, que contemplou duas ações: a exposição Gabinete das Lembranças e a intervenção urbana Cartografia da Memória. Em 2015, Gabinete das Lembranças foi selecionado pela Secretaria de Cultura da Bahia - SECULT, e recebeu o financiamento para ser replicado em três municípios do interior, no território de Chapada Diamantina nas cidades de Andaraí, Palmeiras e Morro do Chapéu.</p>

        <p>O Teorema dos Infinitos Monos "afirma que um macaco digitando aleatoriamente em um teclado por um intervalo de tempo infinito irá certamente criar um texto qualquer escolhido, como por exemplo a obra completa de William Shakespeare."</p>

        <p>Acreditamos no poder dos infinitos monos para gerar qualquer coisa. Gerar momentos abertos à interação de quem deseje participar. Gerar momentos de felicidade, de poesia, no encontro com o ser criativo que somos.</p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <%= image_tag("Coletivo Infinitos Monos.jpg", alt: "Gabinete imagem", style:'max-width:100%; height:auto;') %>
    </div>
  </div>
</div>


