<!-- PRIMERA VENTANA INTRO - VIDEO/LOGO -->
<div class="header-unit-0">
  <div id="video-container">
    <video autoplay loop muted class="fillWidth">
      <source src="http://www.javiercruz.cl/videos/cafer.mp4" type="video/mp4"/>
      <source src="http://vjs.zencdn.net/v/oceans.ogg" type="video/ogg"/>
      <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video> 
  </div> <!--  end video-container -->
  <!-- LOGO sobre el video -->
  <div class="row">
    <div class="logo-over-video col-md-8 col-md-offset-2">
      <%= image_tag("gabinete_web.png", alt: "Gabinete imagem") %>
    </div>
  </div>
  <div class="row">
    <div class="center col-md-4 col-md-offset-4">
    </div>
  </div>
</div> <!-- end .header-unit -->

<br>

<!-- ACERCA DO PROJETO  -->
<section id="projeto" >
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <h1> Gabinete Das Lembrançãs </h1>
          </p>
            O Gabinete das Lembranças é uma exposição de objetos significativos e suas memórias.
            </p>
            <p>
            O conceito chave do projeto é a memória, coletiva e individual. Ante o esvaziamento de significados e sentidos da sociedade contemporânea, achamos importante resgatar nossa história como uma forma de reconhecimento “no outro” e suas experiências e reconhecimento do que somos como comunidade.
            </p>
            <p>
            Esse projeto fala de aquelas memórias e histórias que habitam os lugares e coisas, que lhes dão valor e sentido, mas que só se revelam para quem vivenciou aquilo. Queremos fazer visível aquilo que não se vê, através do compartilhamento da experiência.
            </p>
            <p>
            Acostumados a espaços cheios de propagandas e normas que condicionam as condutas e objetos sobredimensionados em seu valor simbólico, o comum é que a valorização seja dada pela convenção social. Na nossa proposta, são as pessoas quem dão valor e compartem esse valor na comunidade, gerando outro tipo de espaço de comunicação possível, valorizado pela vivença e a empatia da experiência.
            </p>
            <p>
            A experiência para o visitante se produz desde duas perspectivas: desde quem lembra e desde quem assiste as lembranças do outro. Quem lembra é invitado a olhar seu passado, a fazer um ato consciente de memória e escolher um objeto para compartilhar suas vivencias e revivi-o no presente. Quem assiste descobre um valor no objeto que vá para além da materialidade e que tem sido dado pela experiência de um outro.
          </p>
            <p>
            Nosso projeto mobiliza a memória coletiva, valorando a história invisível, pessoal, que não é valorizada pela mídia. Se trata uma forma de resistência que invita a compartilhar intimidade desde o mais vulnerável, que é a própria história, gerando um encontro com o outro desde a empatia e a constatação de experiências comuns em vida alheias, convidando à pausa para refletir a partir de outras historias nas nossas próprias.
            </p>
            <p>
            Para a realização do projeto é fundamental a etapa de residência previa na cidade intervenida, onde se estabelece uma relação com os moradores a fim de coletar as histórias que serão traduzidas na exposição.
            </p>
            <p>
            O Gabinete das lembranças está baseado na confiança, o cuidado, a dedicação e o trabalho conjunto
          </p>
      </div>
    </div>
  </div>
</section>
