<h1>Editing Exhibit</h1>

<%= render 'form' %>

<h1>Crear un nuevo objeto en la exposicion</h1>
<%= render 'gabinete_objects/form' %>

<%= link_to 'Show', @exhibit %> |
<%= link_to 'Back', exhibits_path %>
