  <div class="container center" style='margin-top:50px' >
  <%= image_tag("logos_web.png", alt: "Gabinete imagem") %>
  </div>
<footer class="footer">
  <small>
    Colectivo Infinitos Monos 2015
    by <a href="http://www.javiercruz.cl/">Javier Cruz</a>
  </small>
  <nav>
    <ul>
      <li> losinfinitosmonos@gmail.com </li>
    </ul>
  </nav>
</footer>
